<div class="tweets-new">
 <h1>新規目標設定</h1>
 <%= form_for @tweet do |f| %>
  <div class="field">
    <%= f.label :goal %>
    <%= f.text_field :goal, class: "goal-input" %>
  </div>
  <%= f.submit "目標にする", class: "btn-submit" %>
 <% end %>
 <%= link_to "目標一覧に戻る", tweets_path, class: "btn-back" %>
</div>
