<div class=users>
  <h1>Working Person</h1>
  <div class="user-info-box">
   <p class="user-name">名前 : <%= @user.name %></p>
   <p class="user-email">メールアドレス : <%= @user.email %></p>
   <p class="user-profile">プロフィール : <%= @user.profile %></p>
  </div>

 <% if current_user.id == @user.id %>
<%= link_to "編集する", edit_user_registration_path, class: "btn-link" %>
 <% end %>

 <div class=list-title>Working Personの投稿一覧</div>
  <div class=post>
   <% @user.blogs.each do |t| %>
    <%= t.user.name %>
    <%= t.title %>
   <% end %>
  </div> 
 <div class=back><%= link_to "カレンダーに戻る", blogs_path, class: "btn-link" %></div>
</div>