<!DOCTYPE html>
<html>
  <head>
    <title>CalenDo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
 <header>
    <h1>CalenDo</h1>
    <div class=new-goal><%= link_to "新規目標設定", new_tweet_path %></div>
    <div class=my-page> <% if user_signed_in? %>
    <%= link_to "マイページ", user_path(current_user.id) %>
    <% end %></div>
    <div class=back><%= link_to 'カレンダーに戻る', blogs_path %></div>
 </header>
 <main>
  <%= yield %>
 </main>
 <footer>
  <div class="header-list">
    <ul>
    <% if user_signed_in? %>
     <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
     <li><%= link_to "新規登録", new_user_registration_path %></li>
     <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
   </ul>
  </div>
 </footer>
 </body>
</html>
